*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* убираем линии обводки у некоторых браузеров  */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* перечисляем теги и присваиваем им значение block, что делает их блочными  */
nav,
footer,
header,
aside {
  display: block;
}
/* уравниваем поведение шрифтов и элементов для разных браузеров.. например запрещают самовольное увеличение шрифта на айфонах */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: url("icons/grey_field.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100% 100%;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* просим формы наследовать семейство шрифта, т.к по умолчанию они не наследуют */
input,
button,
textarea {
  font-family: inherit;
}

.site-header {
  width: 75em;
  margin: 0 auto;
}
.time-zone {
  width: 45%;
  text-align: right;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 15px;
}
.time-zone p {
  font-size: 11px;
  text-align: right;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 15px;
}
.bookmark {
  width: 30%;
  margin-top: 0px;
  padding-right: 300px;
}
.content {
  width: 75em;
  margin: 0 auto;
}
h1 {
  font-weight: normal;
  color: #e7e7e7; /* darkslategrey */
}
h2 {
  font-family: Veranda, sans-serif;
  font-weight: lighter;
  font-size: 19px;
  color: #e7e7e7;
}
h3 {
  font-weight: normal;
  text-shadow: -0.2px 0 darkslategrey, 0 0.2px darkslategrey,
    0.2px 0 darkslategrey, 0 -0.2px darkslategrey;
  font-size: 22px;
  color: #04aa6d;
}
h4 {
  color: #e7e7e7;
  text-shadow: 3px 1px 05px #243b3b;
  font-size: 24px;
}
h5 {
  color: #e7e7e7;
  text-shadow: 3px 1px 05px #00346400;
  font-size: 24px;
  text-decoration: underline 1px;
  margin-bottom: 2px;
}

ins {
  color: #4da9ff;
}
ins:hover {
  color: #e7e7e7;
}
a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #ebebeb;
  text-decoration: underline;
}
p,
li {
  text-align: justify;
  font-family: Veranda, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #e7e7e7;
  width: 100%;
}
.profession {
  margin-left: 25px;
}
thead,
tbody {
  text-align: left;
}
th {
  padding: 2px 2px 0 10px;
  font-size: 12px;
}
td {
  padding: 2px 2px 0 12px;
  font-family: Veranda, sans-serif;
  font-weight: lighter;
  font-size: 15px;
}
aside {
  width: 450px;
  height: 450px;
  float: right;
  padding-left: 0px;
  margin-right: 55px;
  background-color: #c2c2c23b;

  box-shadow: 9px 45px 55px #162727;
  border-radius: 50%;
}
/*#globe-img {
  background-image: url("icons/globe1.png");
  background-repeat: no-repeat;
  border-radius: 50%;
}*/
.p-aside {
  color: #e7e7e7;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.btn-group {
  float: center;
  margin-top: 2px;
}
.button-ground {
  opacity: 0.95;
  background-color: #3aa0ffd0;
  position: relative;
  border: 0px;
  box-shadow: 20px 42px 25px #162727;
  color: #e7e7e7;
  text-shadow: 1.5px 1px #1d3131;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  margin-left: 30px;
}
.button-ground:hover,
.button-events:hover,
.button-b2b:hover {
  background-color: #3aa0ffa9;
}
.button-events {
  opacity: 0.95;
  background-color: #3aa0ffd0;
  position: relative;
  border: 0px;
  box-shadow: 28px 34px 25px #162727;
  color: #e7e7e7;
  text-shadow: 1.2px 1px #1d3131;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  margin-left: 140px;
  z-index: 2;
}
.button-b2b {
  opacity: 0.95;
  background-color: #3aa0ffd0;
  position: relative;
  border: 0px;
  box-shadow: 37px 24px 22px #162727;
  color: #e7e7e7;
  text-shadow: 1px 0.8px #1d3131;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
  margin-left: 250px;
}
.tooltip-text {
  visibility: hidden;
  color: #e7e7e7;
  text-align: center;
  background-color: rgb(51, 51, 51);
  width: 120px;
  padding: 5px 0;
  border-radius: 25px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
.btn-group .button {
  opacity: 0.95;
  background-color: #3aa0ff;
  position: relative;
  border: 1px solid #4e4e4e;
  color: #ffffff;
  text-shadow: 0.5px 0.5px #1d3131;
  padding: 10px 32px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  width: 110px;
  height: 110px;
  display: block;
  border-radius: 50%;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: #6cb8ffea;
}
textarea {
  background-color: #c2c2c23b;
  border: 1px solid #adadad;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  padding: 55px 0 5px 15px;
}
::placeholder {
  color: black;
  opacity: 0.65;
}
label {
  color: #e7e7e7;
  font-size: 14px;
}
#name {
  border-radius: 18px;
  background-color: #c2c2c271;
  opacity: 0.85;
  border: 1px solid #adadad;
  box-shadow: 1px 1px 05px #e7e7e700;
  color: white;
  padding-left: 15px;
}
#email {
  border-radius: 18px;
  background-color: #c2c2c271;
  opacity: 0.85;
  border: 1px solid #adadad;
  box-shadow: 1px 1px 05px #e7e7e700;
  color: white;
  padding-left: 15px;
}
#submit {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #adadad;
  text-align: center;
  color: black;
  font-weight: bolder;
}
#submit:hover {
  background-color: #4da9ff;
  text-align: center;
  color: black;
  font-weight: bolder;
}

address {
  text-align: center;
  font-family: Veranda, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #e0dfdf;
}
.site-footer {
  width: 75em;
  margin: 0 auto;
  font-family: Veranda, sans-serif;
  text-align: center;
}
.site-footer p {
  width: 75em;
  margin: 0 auto;
  font-family: Veranda, sans-serif;
  text-align: center;
  vertical-align: middle;
}
.site-footer nav {
  text-shadow: 0.5px 0.5px #000000;
}
footer img {
  filter: invert(100%);
}
footer img:hover {
  filter: invert(1%);
}
